@import "../../../assets/styles/parents.scss";
@import "../../../assets/styles/colors.scss";
.ModalConfirme {
  position: absolute !important;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  backdrop-filter: blur(4px);
  background: rgba($color: #fff, $alpha: .3);
  overflow: hidden;
  visibility: hidden;
  transition: opacity .2s ease;
  opacity: 0;
  padding: 1em;
  &.active{
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease;
  }
  .e-content {
    background: rgba($color: rgb(252, 249, 249), $alpha: 0.9);
    min-height: 25%;
    max-height: calc(100% - 3em);
    box-shadow: 0 0 5px #aaa;
    padding: 1em 1em;
    position: relative;
    left: 0;
    width: 400px;
    transition: 0.2s ease;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    &.error{
      background-color: rgb(255, 197, 197);
    }
    .e-close {
      @extend %close;
      position: absolute;
      right: 1.2em;
      top: 1.2em;
    }
    .e-title {
      color: $main-color;
      font-size: 1.5em;
      padding: .2em 0;
    }
    .e-contenu {
      justify-content: space-between;
      flex-direction: column;
      margin-top: 0.5rem;
      display: flex;
      width: 360px;
      align-self: center;
      color: #555;
      font-size: .9em;
      line-height: 1.5;
    }
    .e-btn {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
      margin-top: 1rem;
      .Button{
        margin: 0;
        width: 120px;
        &.e-btn-annuler {
          border: none;
          background-image: linear-gradient(to right, #c8d8e6, #abc8e2);
          color: rgba(61, 60, 60, 0.898);
          cursor: pointer;
          transition: 0.2s ease;
          height: 32px;
          font-size: 11px;
          letter-spacing: 1px;
          font-weight: 500;
          &:hover {
            box-shadow: 0 0 0 2px #abc8e2;
          }
        }
        &.e-btn-save {
          height: 32px;
          letter-spacing: 1px;
          padding: 0;
          font-size: 11px;
        }
      }
    }
  }
  &.on-left{
    justify-content: flex-start;
    &:not(.active) .e-content{
      transform: translate3d(-110%, 0, 0);
    }
  }
  &.on-right{
    justify-content: flex-end;
    &:not(.active) .e-content{
      transform: translate3d(110%, 0, 0);
    }
  }
  &.on-center{
    justify-content: center;
    &:not(.active){
      .e-content{
        transform: translate3d(0, 5em, 0);
      }
    }
  }
}
